[submodule "Q4_PreReq_RS"]
	path = Q4_PreReq_RS
	url = https://github.com/bytehash69/Q4_PreReq_RS
[submodule "Q4_PreReq_TS"]
	path = Q4_PreReq_TS
	url = https://github.com/bytehash69/Q4_PreReq_TS
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/bytehash69/solana-starter
[submodule "RapidFlow"]
	path = RapidFlow
	url = https://github.com/RapidFloww/RapidFlow.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/bytehash69/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/bytehash69/anchor-escrow
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/bytehash69/anchor-amm
[submodule "anchor-mplxcore"]
	path = anchor-mplxcore
	url = https://github.com/bytehash69/anchor-mplxcore.git
